@import "../../styles/global.css";
@import "../../styles/colors.css";


.home-main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home-left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.home-info-container {
    margin-bottom: 3rem;
}

.home-info-text {
    color: var(--white) !important;
    font-size: clamp(1.6rem, 4vw, 3rem) !important;
    font-weight: bolder !important;
    font-family: 'Kaisei Tokumin', monospace !important;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.home-buttons-container {
    display: flex;
}

.home-image-container {
    width: 90%;
    text-align: center;
}

.home-image {
    width: 100%;
    max-width: 350px !important;
}

@media screen and (min-width:800px) {
    .home-main-container {
        flex-direction: row;
    }

    .home-image {
        max-width: 500px !important;
    }
}

@media screen and (min-width: 960px) {
    .home-left-container {
        margin-left: 50px;
    }

    .home-image-container {
        padding-right: 5px;
    }

    .home-image {
        max-width: 750px !important;
    }
}

@media screen and (min-width: 1200px) {
    .home-left-container {
        margin-left: 0px;
    }
}